* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
#root {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: row;
}

.board-row {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: 100px;
	margin-right: 30px;
}

.square {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #555;
	height: 100px;

	width: 100px;
	font-size: 40px;
}

.status {
	font-size: 50px;
}
